*{
    padding: 0; 
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
p{
    margin-top: 20px; 
}
h3{
    margin-top: 20px; 
    font-size: 30px; 
}
h4{
    font-size: 25px; 
    margin-top: 20px; 
}
img{
    width: 100%;
    height: 100%;
}
/* header */
.header{
    width: 100%;
    height: 210px;
    background-color: #6CC72A; 
    border-bottom: 1px solid green;
    box-shadow: 0px 0px 4px black;
}
.header_box{
    width: 70%;
    height: 150px;
    margin: 0 auto; 
}
.header_img{
    width: 140px;
    height: 150px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
.header_text{
    display: block; 
    color: white; 
    font-size: 40px; 
    text-shadow: 1px 1px 4px black;
    text-align: center; 
}

/* main */
.content{
    width: 100%;
}
.content_box{
    width: 70%;
    margin: 0 auto; 
}
.title h1{
    font-size: 40px; 
    text-align: center; 
    margin-top: 20px; 
}
.login_img{
    width: 80%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.login_img-2{
    width: 16%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.login_img-3{
    width: 40%;
    margin: 0 auto; 
    margin-top: 20px;  
}
.login_img-4{
    width: 20%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.login_img-5{
    width: 40%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.touch_img{
    width: 50%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.touch_img-2{
    width: 60%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.touch_img-3{
    width: 70%;
    margin:0 auto; 
    margin-top: 20px; 
}
.touch_img-4{
    width:70%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.touch_img-5{
    width: 50%;
    margin: 0 auto; 
    margin-top: -20px;  
}
.touch_img-6{
    width: 70%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.fact_img{
    width: 60%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.fact_img-2{
    width: 85%;
    margin: 0 auto;
    margin-top: 20px; 
}
.fact_img-3{
    width: 86%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.fact_img-4{
    width: 85%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.fact_img-5{
    width: 40%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.mp_img{
    width: 60%;
    margin: 0 auto; 
    margin-top: 20px
}
.mp_img-2{
    width: 70%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.mp_img-3, .mp_img-4{
    width: 70%;
    margin: 0 auto; 
    margin-top: 20px; 
}
.content_box{
    margin-top: 30px; 
}
.menu{
    width: 80%;
    border: 1px solid gray; 
    background-color: #cccccc;
    margin-top: 50px; 
    box-shadow: 0xp 0xp 4px black;
    margin: 0 auto;
    margin-top: 20px;  
}
.menu  ul li{
    text-align: center; 
    list-style: none;
    margin-top: 10px; 
    margin-bottom: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: green;
    transition: all 300ms;
}
.menu ul li a:hover{
    color: #6CC72A; 
}
footer{
    width: 100%; 
    height: 112px; 
    background-color: #5CC72A; 
    box-shadow: 0px 0px 4px black; 
}

footer p{
    color: white; 
    text-shadow: 1px 1px 4px black;
    font-size: 30px; 
    text-align: center; 
    line-height: 112px; 
}
